.mat-mdc-row {
  &:nth-child(even) {
    background-color: var(--mat-sys-surface-container-low);
  }
  &.mat-mdc-no-data-row .mat-mdc-cell {
    font: var(--mat-sys-title-small);
    text-align: center;
    background-color: var(--mat-sys-surface-container-low);
  }
}

.listing-actions {
  display: flex;
  align-items: center;

  button {
    transform: translateY(-10px);
  }
}
